body {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #282c34;
  color: white;
  padding: 15px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link{
  text-wrap: nowrap;
}

.nav-link::before {
  content: "|";
  margin: 0 10px;
  height: 100%;
}

.nav-link.active-link {
  color: #61dafb;
}