body {
  height: 100%;
  width: 100%;
  background-color: #282c34;
  color: #fff;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif ;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  white-space: nowrap;
  padding-right: 5px;
}

.nav-link::before {
  content: "|";
  margin: 0 10px;
  height: 100%;
}

.welcomeMessage {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.displayData {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
}

.expensesAndIncome {
  display: contents;
}

.expensesAndIncomeData {
  text-transform: capitalize;
}

.incomeData {
  border: 1px solid;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  font-size: 1.2rem;
  line-height: 2.1rem;
  box-shadow: 0 5px 10px black;
}

.expenseData {
  border: 1px solid;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  font-size: 1.2rem;
  line-height: 2.1rem;
  box-shadow: 0 5px 10px black;
}

.totalsData {
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  font-size: 1.2rem;
  line-height: 2.1rem;
  box-shadow: 0 5px 10px black;
}



.btn {
  /* margin-top: 1rem;
  border: none;
  background-color: blue;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 5px black; */
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #fff;
  margin: 0 0.3rem;
  box-shadow: 0px 3px 3px black;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.edit {
  background-color: navy;
}

.delete {
  background-color: maroon;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
  font-size: 1.5rem;
}

.form-group input,
.form-group select {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  box-shadow: 0px 3px 3px black;
}

.form-group label {
  margin-bottom: 0.2rem;
}

.form-group button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #fff;
  margin: 10px 0.3rem;
  background-color: mediumblue;
  box-shadow: 0px 3px 3px black;
  padding: 5px;
}

.addTitle {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 1rem;
  text-decoration: solid underline;
}

.logout {
  color: yellow;
  opacity: 0.7;
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 50px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.login-group{
  margin-bottom: 15px;
}

.login-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px black;;
}

.button-login {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-login:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.create-account {
  margin-top: 15px;
  text-align: center;
}

.create-account p {
  margin: 0;
}

.create-account a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.create-account a:hover {
  text-decoration: underline;
}

.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 50px;
}

.signup-group {
  margin-bottom: 15px;
}

.signup-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px black;
}

.back-to-login {
  margin-top: 15px;
  text-align: center;
}

.back-to-login p {
  margin: 0;
}

.back-to-login a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.back-to-login a:hover {
  text-decoration: underline;
}

.welcome-message {
  text-align: center;
  font-size: 24px;
  color: #fff; /* Choose your desired text color */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-message strong {
  font-weight: bold;
  color: #2ECC40; /* Choose a color for the emphasized text */
}

.welcome-message p {
  width: 50%;
}

.noData {
  width: 75%;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0px 5px 10px black;
}

/* changing appearance of scroll bar */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 6px; /* Rounded corners */
  border: 3px solid #f1f1f1; /* Border around the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar handle on hover */
}


@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .displayData {
    flex-direction: column;
  }
  /* .navbar, .navbar-nav {
    flex-direction: row;
    align-items: flex-start;
  } */


}